<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.NHAHANGConnectionString" connectionString="Data Source=DESKTOP-1KGIO0F\SQLEXPRESS;Initial Catalog=NHAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>